.skills {
  & h2 {
    color: $color-dark-green;
    font-size: 3rem;
    font-family: "Segoe Print";
    text-align: center;
    line-height: 10rem;
  }

  & p {
    color: $color-dark-green;

    font-size: 2.5rem;
    font-family: "Segoe UI";
    font-weight: 300;
    display: block;
    max-width: 70%;
    margin: 0 auto;
    text-align: center;
  }

  & h3 {
    color: $color-dark-green;
    font-size: 2rem;
    font-family: "Segoe UI";
    text-align: center;
    line-height: 10rem;
    font-weight: 600;
  }
  & img {
    height: 7rem;
    width: auto;
    margin: 0 auto;
  }
}

#skills_table {
  margin: 0 auto;
  width: 30%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 3fr;

  & i {
    font-size: 5rem;
    color: grey;
    text-align: left;
    padding: 1rem;
  }
  p {
    color: $color-dark-green;
    font-size: 2.5rem;
    font-family: "Segoe UI";
    font-weight: 300;
    text-align: left;
    margin: 1rem 0 1rem 1rem ;
  }
  & img {
    height: 5rem;
    display: inline;
    text-align: right;
    margin: 1rem;
  }
}

@media screen and (max-width: 600px) {
  #skills_table {
    grid-template-columns: 1fr 3fr;
  }
}
